<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
        {% block content %} {% endblock %}
        <div id="main">
    <div id="header">
      <div id="menubar">
        <ul id="menu">
          <li  {% if selectedMenu == "Home" %} class="selected" {% endif %}  >
            <a href="/">Auswahl</a></li>
          <li  {% if selectedMenu == "Report" %} class="selected" {% endif %}  >
            <a href="/gdp">GDP</a></li>
          <li>
            <a href="/world_happiness_report">World Happiness Report</a></li>
          <li>
            <a href="/population_total">Population Total</a></li>
          <li>
            <a href="/population_growth">Population Growth</a></li>
          <li>
            <a href="/co2_emission">Co2 Emission</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>