{% extends "base.html" %}

{% block content %}
<h1>Co2 Emission</h1>
<p>2010 - 2016</p>
<table>
<tr><th>Country Name </th><th> Code </th><th> Year </th><th> Emission </th></tr>
{% for daten in inhalt %}
<tr><td>{{daten[0]}}</td><td>{{daten[1]}}</td><td>{{daten[2]}}</td><td>{{daten[3]}}</td></tr>
{% endfor %}
</table>

{% endblock %}