{% extends "base.html" %}

{% block content %}
<h1>GDP</h1>
<p>2010 - 2016</p>
<table>
<tr><th>Country Name </th><th> Country Code </th><th> Indicator Name </th><th> Indicator Code </th><th> Year </th><th> GDP </th></tr>
{% for daten in inhalt %}
<tr><td>{{daten[0]}}</td><td>{{daten[1]}}</td><td>{{daten[2]}}</td><td>{{daten[3]}}</td><td>{{daten[4]}}</td><td>{{daten[5]}}</td></tr>
{% endfor %}
</table>

{% endblock %}