{% extends "base.html" %}

{% block content %}
<h1>Population Total</h1>
<p>2010 - 2016</p>
<img src="https://gitlab.com/gitprojekt/dbs_projekt/-/blob/master/Population_Total__NA.png" alt = "Population Total" />
<table>
<tr><th>Country Name </th><th> Year </th><th> Count </th></tr>
{% for daten in inhalt %}
<tr><td>{{daten[0]}}</td><td>{{daten[1]}}</td><td>{{daten[2]}}</td></tr>
{% endfor %}
</table>

{% endblock %}